<%- include('../partials/headParte1') %>
<!--Aqui se agregan los estilos personales-->
<link rel="stylesheet" href="/css/books.css">

<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
    <h2>Listado de Productos</h2>
    <div class="content-btn-agregar">
        <a class="btn-agregar" href="/products/create">Agregar</a>
    </div>
    <div class="container">
        <% books.map( book => { %>
        <article class="book">
            <div class="card3">
                <div class="imgBx">
                    <img src="/img/products/<%= book.imagen %>" alt="<%= book.titulo %>">
                </div>
                <div class="content">
                    <div class="details">
                        <!-- <h2>Resumen</h2> -->
                        <p>
                            <%= book.sinopsis %>
                        </p>
                        <div class="icons">
                            <a href="/products/detail/<%= book.id %>">Ver más</a>
                            <a href="/products/edit/<%= book.id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                            <form action="/products/delete/<%= book.id %>" method="POST" style="display: inline-flex">
                               <button type="submit">
                                    <i class="fa-solid fa-trash-can"></i>
                               </button> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <h2><%= book.titulo %></h2>
        </article>
        <% }) %>
    </div>

</main>

<%- include('../partials/footer') %>