<%- include('../partials/headParte1') %>
<!--Aqui se agregan los estilos personales-->
<link rel="stylesheet" href="/css/productForm.css">

<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
  <div class="content">

    <!-- <h1 class="logo">Publica Un Libro Nuevo</h1> -->

    <div class="box">
      <div class="libro-form">
          <h1 class="titulo">Publica Un Libro Nuevo</h1>
          <form action="/products/edit/<%= book.id %>" method="POST">
          <p>
            <label for="titulo">Título</label>
            <input type="text" name="titulo" id="titulo" value="<%= book.titulo %>"/>
          </p>
          <p>
            <label for="autor">Autor</label>
            <input type="text" name="autor" id="autor" value="<%= book.autor %>"/>
          </p>
          <p>
            <label for="editorial">Editorial</label>
            <input type="text" name=""editorial id="editorial" value="<%= book.editorial %>"/>
          </p>
          <p>
            <label for="paginas">Páginas</label>
            <input type="number" name="paginas" id="paginas" value="<%= book.paginas %>"/>
          </p>
          <p>
            <label for="idioma">Idioma</label>
            <input type="text" name="idioma" id="idioma" value="<%= book.idioma %>">
          </p>
          <p>
            <label for="tipo_tapa">Tipo de Tapa</label>
            <input type="text" name="tipo_tapa" id="tipo_tapa" value="<%= book.tipo_tapa %>">
          </p>
          <p>
            <label for="tematica">Temática</label>
            <input type="text" name="tematica" id="tematica" value="<%= book.tematica%>">
          </p>
          <p>
            <label for="stock">Stock</label>
            <input type="number" name="stock" id="stock" min="1" value="<%= book.stock %>">
          </p>
          <p>
            <label for="precio">Precio</label>
            <input type="number" id="precio" min="0" max="9999" placeholder="$" value="<%= book.precio %>">
          </p>
          <p>
            <label for="lanzamiento">Año de Lanzamiento</label>
            <input type="text" name="lanzamiento" id="lanzamiento" pattern="^\d{4}$" placeholder="YYYY" value="<%= book.fecha_emision %>">
          </p>
          <p>
            <label for="sinopsis">Sinopsis</label>
            <input type="text" name="sinopsis" id="sinopsis" value="<%= book.sinopsis %>">
          </p>
          <!-- <p class="block">
            <label for="portada">Seleccione Foto de Portada</label>
            <input type="file" name="portada" id="portada">
          </p> -->
          <p class="block">
            <button type="submit">
              Guardar cambios
            </button>
          </p>
          </form>
      </div>
      <div class="libro-image">
        
      </div>
    </div>

  </div>
</main>

<%- include('../partials/footer') %>