<%- include('../partials/headParte1') %>
<!--Aqui se agregan los estilos personales-->
<link rel="stylesheet" href="/css/productDetails.css">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@400;700&family=Roboto&display=swap" rel="stylesheet">

<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
    <section class="libro">
        <div class="libro-portada">
            <img src="/img/products/<%= book.imagen %>" alt="<%= book.titulo %>">
        </div>
        <div class="libro-detalles">
            <div class="libro-titulo">
                <h1><%= book.titulo %></h1>
            </div>
            <div class="libro-stock">
                <span class="libro-disponibilidad">Disponibilidad: </span><span>En stock</span>
            </div>
            <div class="libro-precio">
                <h3><%= book.precio %> $$</h3>
            </div>
            <div>
                <form action="/carts/create" method="POST">
                    <input type="hidden" value="<%= book.id %>" name="id">
                    <button type="submit" class="btn-agregar">A침adir</button>
                </form>
            </div>
            <div class="libro-sinopsis">
                <h3>Sin칩psis</h3>
                <p><%= book.sinopsis %></p>
            </div>
            <div class="libro-descripcion">
                <h3>Descripci칩n</h3>
                <div>
                    <strong>Autor: </strong><%= book.autor %>
                </div>
                <div>
                    <strong>Idioma: </strong><%= book.idioma %>
                </div>
                <div>
                    <strong>Editorial: </strong><%= book.editorial %>
                </div>
                <div>
                    <strong>Tipo de tapa: </strong><%= book.tipo_tapa %>
                </div>
                <div>
                    <strong>Categoria: </strong><%= book.tematica %>
                </div>
                <div>
                    <strong>P치ginas: </strong><%= book.paginas %>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('../partials/footer') %>