<%- include('../partials/headParte1') %>
<!--Aqui se agregan los estilos personales-->
<link rel="stylesheet" href="/css/orderDetail.css">

<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
    <div class="container">
        <section class="resumen">
            <h3>Resumen</h3>
            <div class="detResumen">
                <p>Total productos</p>
                <p><%= books.cantidad %></p>
            </div>
            <div class="detResumen">
                <p>Total del pedido</p>
                <p>$ <%= books.total %></p>
            </div>
        </section>
        <section  class="info">
           <% books.libros.map(libro => { %>
                <article class="detLibro">
                    <div class="divImagen">
                        <div class="imagen">
                            <img src="/img/products/<%= libro.product.imagen %>" alt="img">
                        </div>
                    </div>
                    <div class="detalle">
                        <div>
                            <div class="titulo">
                                <h3><%= libro.product.titulo %></h3>
                            </div>
                            <div class="infoLibro">
                                <p>Autor: <%= libro.product.autor %></p>
                                <p>Tematica: <%= libro.product.theme.nombre %></p>
                            </div>
                        </div>
                        <div class="iconos">
                            <div class="precio">
                                <p>$ <%= libro.precio %></p>
                            </div>
                            <div class="cantidad">
                                <p><%= libro.cantidad %></p>
                            </div>
                        </div>
                    </div>
                </article>
            <% }) %>
            
        </section>
    </div>
</main>

<%- include('../partials/footer') %>