<%- include('../partials/headParte1') %>
<!--Aqui se agregan los estilos personales-->
<link rel="stylesheet" href="/css/books.css">
<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
    
    <h2>Listado de Productos</h2>

    <div class="container">
        <% books.map( book => { %>
        <article class="book">
            <div class="card3">
                <div class="imgBx">
                    <img src="<%= book.imagen %>" alt="<%= book.titulo %>">
                </div>
                <div class="content">
                    <div class="details">
                        <!-- <h2>Resumen</h2> -->
                        <p>
                            <%= book.sinopsis %>>
                        </p>
                        <a href="/products/detail/<%= book.id %>">Ver más</a>
                    </div>
                </div>
            </div>
            <h2><%= book.titulo %></h2>
        </article>
        <% }) %>

    </div>
    
</main>

<%- include('../partials/footer') %>