<%- include('../partials/headParte1') %>
<!--Aqui se agregan los estilos personales-->
<link rel="stylesheet" href="../css/login.css" />
<link rel="stylesheet" href="../css/register.css" />
<script src="../script/register.js"></script>
<%- include('../partials/headParte2') %>

<%- include('../partials/header') %>

<main>
  <form method="post" action="/user/register" id="formulario">
    <h2 class="title">Regístrate</h2>
    <!-- Grupo: Nombre -->
    <div id="grupo_nombre" class="grupo">
      <label for="name" class="label">Nombre</label>
        <div class="formInput">
          <input class="input" type="text" id="name" name="nombre"  placeholder="Mateo" value="<%=locals.oldData?oldData.nombre:null %>"/>
          <i class="estadoValidacion fas fa-times"></i>
        </div>
        <ul class="mensajeError">
            <li>*Este campo no puede estar vacio</li>
            <li>*Debe tener al menos 2 caracteres</li>
            <li>*Solo puede contener letras</li>
        </ul>
        <% if (locals.errors && errors.nombre) { %>
          <p class="error-msg">*<%= errors.nombre.msg %></p>
        <% } %>
    </div>
    <!-- Grupo: Apellido -->
    <div id="grupo_apellido" class="grupo">
      <label for="apellido" class="label">Apellido</label>
        <div class="formInput">
          <input class="input" type="text" id="apellido" name="apellido" placeholder="Gonzales" value="<%=locals.oldData?oldData.apellido:null %>"/>
          <i class="estadoValidacion fas fa-times"></i>
        </div>
        <ul class="mensajeError">
          <li>*Este campo no puede estar vacio</li>
          <li>*Debe tener al menos 2 caracteres</li>
          <li>*Solo puede contener letras</li>
        </ul>
        <% if (locals.errors && errors.apellido) { %>
          <p class="error-msg">*<%= errors.apellido.msg %></p>
        <% } %>
    </div>
     <!-- Grupo: Correo -->
    <div id="grupo_email" class="grupo">
        <label for="email" class="label">Correo electrónico</label>
          <div class="formInput">
            <input class="input" type="text" id="email" name="email"  placeholder="Correo electrónico" 
            value="<%=locals.oldData?oldData.email:null %>"/>
            <i class="estadoValidacion fas fa-times"></i>
          </div>
        <ul class="mensajeError">
          <li>*Este campo no puede estar vacio</li>
          <li>*Debe ingresar un email valido</li>
        </ul>
          <% if (locals.errors && errors.email) { %>
            <p class="error-msg">*<%= errors.email.msg %></p>
          <% } %>
    </div>
    <!-- Grupo: Contraseña -->
    <div id="grupo_password" class="grupo">
    <label for="password" class="label">Contraseña</label>
    <div class="formInput">
      <input class="input" type="password" id="password" name="password" placeholder="Ej:Mateo123"/>
      <i class="estadoValidacion fa-solid fa-xmark"></i>
    </div>
    <ul class="mensajeError">
      <li>*Debe tener al menos 8 caracteres</li>
      <li>*Debe tener minuscula, mayuscula y un numero</li>
    </ul>
      <% if (locals.errors && errors.password) { %>
        <p class="error-msg">*<%= errors.password.msg %></p>
      <% } %>
    </div>
    <!-- Grupo: Contraseña2 -->
    <div id="grupo_password2" class="grupo">
    <label for="confirmPassword" class="label">Confirmar contraseña</label>
    <div class="formInput">
      <input class="input" type="password" id="confirmPassword" name="confirmPassword" placeholder="Ej:Mateo123"/>
      <i class="estadoValidacion fa-solid fa-xmark"></i>
    </div>
    <ul class="mensajeError">
      <li>*Ambas contraseñas deben ser iguales.</li>
    </ul>
      <% if (locals.errors && errors.confirmPassword) { %>
        <p class="error-msg">*<%= errors.confirmPassword.msg %></p>
      <% } %>
    </div>


    <div>
      <button id="button" type="submit">Regístrate</button>
      <p class="mensaje" id="mensaje">Formulario enviado exitosamente!</p>
    </div>


    <div class="mensaje-error" id="mensaje-error">
      <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b>Llene el formulario correctamente. </p>
    </div>

    <span class="link"
      >¿Ya tienes una cuenta?<a href="/user/login"> Inicia sesion</a></span
    >
  </form>
</main>

<%- include('../partials/footer') %>

